/* ==============================
   GLOBAL
============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==============================
   NAVBAR
============================== */

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #de0000;
}



/* Logo */

.navbar .logo {
    width: 45px;
    height: 45px;

    object-fit: contain;

    margin-right: 30px;
}


/* Navigation links container */

.nav-links {
    display: flex;
    align-items: center;

    gap: 25px;
}


/* Links */

.nav-links a {
    color: white;

    text-decoration: none;

    font-size: 16px;

    transition: 0.3s;
}


/* Link hover */

.nav-links a:hover {
    color: #667eea;
}


/* Logged-in username */

.nav-links span {
    color: white;

    margin-left: 10px;
}